{% extends 'base41.html' %}

{% block content %}
{{super()}}
<h1>О Нас</h1>
<p>Первый Медицинский Центр — это многофункциональный современный медицинский центр в Смоленске, предоставляющий широкий
    спектр услуг и возможность решить большинство проблем со здоровьем при помощи передовых медицинских технологий.
</p>
<p>Первый Медицинский Центр дает возможность в кратчайшие сроки и с высокой точностью получить результаты анализов,
    медицинское диагностическое обследование и высококвалифицированную помощь в стоматологии.
</p>
<p>Первый Медицинский Центр благодаря самому современному медицинскому техническому оснащению и оборудованию позволяет
    в ежедневном режиме осуществлять все необходимые обследования, операции и другие процедуры.
</p>
<p>Первый Медицинский Центр обеспечивает индивидуальный подход к каждому пациенту и делает Ваше пребывание в
    медицинском центре максимально комфортным!</p>

{% endblock %}
