{% extends 'generator/base.html' %}

{%block content%}
<h1>Программа для создания случайного пароля</h1>
<p>Эта программа позволяет пользователю создать случайный пароль с заданными параметрами, такими как количество
    символов, использование букв верхнего регистра, цифр и специальных символов.</p>
<h2>Выбор параметров пароля:</h2>
<ul>
    <li>Количество символов: Пользователь выбирает желаемое количество символов для пароля.</li>
    <li>Включить буквы верхнего регистра: Пользователь выбирает, хочет ли он включить в пароль буквы верхнего
        регистра.
    </li>
    <li>Включить цифры: Пользователь выбирает, хочет ли он включить в пароль цифры.</li>
    <li>Включить специальные символы: Пользователь выбирает, хочет ли он включить в пароль специальные символы.</li>
</ul>

<h2>Генерация случайного пароля:</h2>
<p>Программа использует указанные параметры для генерации случайного пароля.</p>

<h2>Вывод пароля:</h2>
<p>Сгенерированный пароль отображается пользователю.</p>

<p><a href="{%url 'home'%}">Вернуться на главную</a></p>
{%endblock%}
